<!--START Nav Bar-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand">
    <img src="../assets/images/logo.png" width="150" height="80" alt="">
  </a>
  <!-- <a class="navbar-brand">House-A-Teacher</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Plots</a>
        <div class="dropdown-menu" >
          <a class=" dropdown-item" href="map.html">Map</a>
          <a class=" dropdown-item" href="humidity.html">Humidity</a>
          <a class=" dropdown-item" href="cloudiness.html">Cloudiness</a>
          <a class=" dropdown-item" href="wind.html">Wind Speed</a>  
        </div> -->
      </li>
      <li class="nav-item">
        <a class="nav-link" href=homepage.html>Home</a>
      </li>
      <li class="nav-item">        
        <a class="nav-link" href="map.html">Map</a>
      </li>
    </ul>
  </div>  
</nav>
<!--END Nav Bar-->