<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
        <meta charset="utf-8">
        <title>ESRB Rating Predictor</title>
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/css/home.css">
	</head>
	<body class="bg-dark">	
		<!-- Navbar-->
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<a class="navbar-brand" href="/">
			<img src="/static/gamelogo.jpg" width="70" height="50" alt="">
			  ESRB Rating Predictor
		  </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
		
				</li>
				<li class="nav-item">        
				<a class="nav-link" href="analysis.html">Analysis</a>
				</li>
				<li class="nav-item">        
				<a class="nav-link" href="predictor.html">Predict Ratings</a>
				</li>
				<li class="nav-item">        
				  <a class="nav-link" href="walkthrough.html">Walkthrough</a>
				  </li>
			</ul>
			</div>  
		</nav>    
		<div>
            <h1>Predict Your Rating!</h1></div>
            <p>Use the checkboxes below to select rating criteria for a given videogame. 
            Our model will predict the rating based on the categories selected.</p>
			<!--Form-->
			<form action = "{{url_for('predict')}}" method ="POST" >
				<fieldset>
				<legend>Predict Ratings Form</legend><br>
				  
					<div class="form-group  row">
					  <!-- <div class="form-group  row">
						<div class="col-sm-3">
							<label for="Title">Title</label>
							<input type="text" class="form-control" id="Title" name="Title" required>
						</div> -->
						<div class="col-sm">
							<label for="Alcohol Reference">Alcohol Reference</label>
							<select class="form-control" id="Alcohol Reference"  name="Alcohol Reference" required>
							  <option value = "0" selected>No</option>
							  <option value = "1">Yes</option>
							</select>
					   </div>
						<div class="col-sm">
							<label for="Animated Blood">Animated Blood</label>
							<select class="form-control" id="Animated Blood"  name="Animated Blood" required>
							  <option value = "0" selected>No</option>
							  <option value = "1">Yes</option>
							</select>
					   </div>
						  <div class="col-sm">
							<label for="Blood">Blood</label>
							<select class="form-control" id="Blood" name = "Blood" required>
							  <option value = "0" selected>No</option>
							  <option value = "1">Yes</option>
							</select>
						  </div>
						  <div class="col-sm">
							<label for="Blood & Gore">Blood & Gore</label>
							<select class="form-control" id="Blood & Gore" name = "Blood & Gore" required>
								<option value = "0" selected>No</option>
								<option value = "1">Yes</option>
							  </select>
						  </div>
						  <div class="col-sm">
							<label for="Cartoon Violence">Cartoon Violence</label>
							<select class="form-control" id="Cartoon Violence" name = "Cartoon Violence" required>
								<option value = "0" selected>No</option>
								<option value = "1">Yes</option>
							  </select>
						  </div>
						</div>
						<div class="form-group  row">
						  <div class="col-sm">
							<label for="Crude Humor">Crude Humor</label>
							<select class="form-control" id="Crude Humor" name="Crude Humor" required>
							  <option value = "0" selected>No</option>
							  <option value = "1">Yes</option>
							</select>
							</div>
						<div class="col-sm">
							<label for="Drug Reference">Drug Reference</label>
							<select class="form-control" id="Drug Reference" name="Drug Reference" required>
							  <option value = "0" selected>No</option>
							  <option value = "1">Yes</option>
							</select>
						</div>
						<div class="col-sm">
							<label for="Fantasy Violencer">Fantasy Violence</label>
							<select class="form-control" id="Fantasy Violence" name="Fantasy Violence" required>
							  <option value = "0" selected>No</option>
							  <option value = "1">Yes</option>
							</select>
						</div>
					  <div class="col-sm">
						<label for="Intense Violence">Intense Violence</label>
						<select class="form-control" id="Intense Violence" name="Intense Violence" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Language">Language</label>
						<select class="form-control" id="Language" name="Language" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					</div>
					<div class="form-group  row">
					<div class="col-sm">
						<label for="Lyrics">Lyrics</label>
						<select class="form-control" id="Lyrics" name="Lyrics" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Mature Humor">Mature Humor</label>
						<select class="form-control" id="Mature Humor" name="Mature Humor" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Mild Blood">Mild Blood</label>
						<select class="form-control" id="Mild Blood" name="Mild Blood" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Mild Cartoon Violence">Mild Cartoon Violence</label>
						<select class="form-control" id="Mild Cartoon Violence" name="Mild Cartoon Violence" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Mild Fantasy Violence">Mild Fantasy Violence</label>
						<select class="form-control" id="Mild Fantasy Violence" name="Mild Fantasy Violence" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					</div>
					<div class="form-group  row">
					<div class="col-sm">
						<label for="Mild Language">Mild Language</label>
						<select class="form-control" id="Mild Language" name="Mild Language" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Mild Lyric">Mild Lyric</label>
						<select class="form-control" id="Mild Lyricr" name="Mild Lyric" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Mild Suggestive Themes">Mild Suggestive Themes</label>
						<select class="form-control" id="Mild Suggestive Themes" name="Mild Suggestive Themes" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Mild Violence">Mild Violence</label>
						<select class="form-control" id="Mild Violence" name="Mild Violence" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="No Descriptors">No Descriptors</label>
						<select class="form-control" id="No Descriptors" name="No Descriptors" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					</div>
					<div class="form-group  row">
					<div class="col-sm">
						<label for="Nudity">Nudity</label>
						<select class="form-control" id="Nudity" name="Nudity" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Partial Nudity">Partial Nudity</label>
						<select class="form-control" id="Partial Nudity" name="Partial Nudity" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Sexual Content">Sexual Content</label>
						<select class="form-control" id="Sexual Content" name="Sexual Content" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Sexual Themes">Sexual Themes</label>
						<select class="form-control" id="Sexual Themes" name="Sexual Themes" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Simulated Gambling">Simulated Gambling</label>
						<select class="form-control" id="Simulated Gambling" name="Simulated Gambling" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					</div>
					<div class="form-group  row">
					<div class="col-sm">
						<label for="Strong Language">Strong Language</label>
						<select class="form-control" id="Strong Language" name="Strong Language" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Strong Sexual Content">Strong Sexual Content</label>
						<select class="form-control" id="Strong Sexual Content" name="Strong Sexual Content" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Suggestive Themes">Suggestive Themes</label>
						<select class="form-control" id="Suggestive Themes" name="Suggestive Themes" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Use of Alcohol">Use of Alcohol</label>
						<select class="form-control" id="Use of Alcohol" name="Use of Alcohol" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
					<div class="col-sm">
						<label for="Use of Drugs & Alcohol">Use of Drugs & Alcohol</label>
						<select class="form-control" id="Use of Drugs & Alcohol" name="Use of Drugs & Alcohol" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
				</div>
				<div class="form-group  row">
					<div class="col-sm-3">
						<label for="Violence">Violence</label>
						<select class="form-control" id="Violence" name="Violence" required>
						  <option value = "0" selected>No</option>
						  <option value = "1">Yes</option>
						</select>
					</div>
				</div>
					  <br>
					  <div class="form-group">
						<input class="btn btn-primary" type="submit" value="Result">
					  </div>
					  
					  <!--Prediction Result-->
					  <div id ="result">
							<strong style="color:red">{{result}}</strong>
					 </div>
				     </div>
			 </fieldset>
			</form>
			
		</div>
		
	</body>
</html>