<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <title>ESRB Rating Predictor</title>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/home.css">        
    </head>

    <body>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand">
        <img src="/static/gamelogo.jpg" width="100" height="80" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
    
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">        
            <a class="nav-link" href="analysis.html">Analysis</a>
            </li>
            <li class="nav-item">        
            <a class="nav-link" href="predictor.html">Predict Ratings</a>
            </li>
            <li class="nav-item">        
              <a class="nav-link" href="walkthrough.html">Walkthrough</a>
              </li>
        </ul>
        </div>  
    </nav>    
    <!-- <script>
      var id = null;
      function myMove() {
        var elem = document.getElementById("myAnimation");   
        var pos = 0;
        clearInterval(id);
        id = setInterval(frame, 10);
        function frame() {
          if (pos == 350) {
            clearInterval(id);
          } else {
            pos++; 
            elem.style.top = pos + 'px'; 
            elem.style.left = pos + 'px'; 
          }
        }
      }
      </script> -->
        <div>
            <h1>Predict Your Rating!</h1></div>
            <p>Use the checkboxes below to select rating criteria for a given videogame. 
            Our model will predict the rating based on the categories selected.</p>
            <h6>Rating Categories:</h6>
            <!-- <div class="form-check form-switch">
                <input onmouseover="myMove()" class="form-check-input" type="checkbox" value="" id="Alcohol Reference">
                <label id="myAnimation" class="form-check-label" for="Alcohol Reference">
                  Alcohol Reference
                </label>
              </div> -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Animated Blood">
                <label class="form-check-label" for="Animated Blood">
                  Animated Blood
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Blood">
                <label class="form-check-label" for="Blood">
                  Blood
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Blood & Gore">
                <label class="form-check-label" for="Blood & Gore">
                  Blood & Gore
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Cartoon Violence">
                <label class="form-check-label" for="Cartoon Violence">
                    Cartoon Violence
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Crude Humor">
                <label class="form-check-label" for="Crude Humor">
                    Crude Humor
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Drug Reference">
                <label class="form-check-label" for="Drug Reference">
                    Drug Reference
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Fantasy Violence">
                <label class="form-check-label" for="Fantasy Violence">
                    Fantasy Violence
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Intense Violence">
                <label class="form-check-label" for="Intense Violence">
                    Intense Violence
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Language">
                <label class="form-check-label" for="Language">
                    Language
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Lyrics">
                <label class="form-check-label" for="Lyrics">
                    Lyrics
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Mature Humor">
                <label class="form-check-label" for="Mature Humor">
                    Mature Humor
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Mild Blood">
                <label class="form-check-label" for="Mild Blood">
                    Mild Blood
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Mild Cartoon Violence">
                <label class="form-check-label" for="Mild Cartoon Violence">
                    Mild Cartoon Violence
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Mild Fantasy Violence">
                <label class="form-check-label" for="Mild Fantasy Violence">
                    Mild Fantasy Violence
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Mild Language">
                <label class="form-check-label" for="Mild Language">
                    Mild Language
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Mild Lyrics">
                <label class="form-check-label" for="Mild Lyrics">
                    Mild Lyrics
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Mild Suggestive Themes">
                <label class="form-check-label" for="Mild Suggestive Themes">
                    Mild Suggestive Themes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Mild Violence">
                <label class="form-check-label" for="Mild Violence">
                    Mild Violence
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="No Descriptors">
                <label class="form-check-label" for="No Descriptors">
                    No Descriptors
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Nudity">
                <label class="form-check-label" for="Nudity">
                    Nudity
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Partial Nudity">
                <label class="form-check-label" for="Partial Nudity">
                    Partial Nudity
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Sexual Content">
                <label class="form-check-label" for="Sexual Content">
                    Sexual Content
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Sexual Themes">
                <label class="form-check-label" for="Sexual Themes">
                    Sexual Themes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Simulated Gambling">
                <label class="form-check-label" for="Simulated Gambling">
                    Simulated Gambling
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Strong Language">
                <label class="form-check-label" for="Strong Language">
                    Strong Language
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Strong Sexual Content">
                <label class="form-check-label" for="Strong Sexual Content">
                    Strong Sexual Content
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Suggestive Themes">
                <label class="form-check-label" for="Suggestive Themes">
                    Suggestive Themes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Use of Alcohol">
                <label class="form-check-label" for="Use of Alcohol">
                    Use of Alcohol
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Use of Drugs & Alcohol">
                <label class="form-check-label" for="Use of Drugs & Alcohol">
                    Use of Drugs & Alcohol
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Violence">
                <label class="form-check-label" for="Violence">
                    Violence
                </label>
              </div>
              <br>
              <div id="button">
              <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Submit</a>
              </div>
            </div>     

    <!-- Javascript -->
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script type= "text/javascript" src="/static/js/app.js"></script> 
    </body>
</html>